#youtube-player {
	margin-top: 1%;
	margin-bottom: 1%;
}

#zamboni {
	position: absolute;
	right: 2vw;
	bottom: 25vh;
	img {
		height: 150px;
		width: 200px;
	}
	a {
		font-family: 'Sonsie One', cursive;
		font-size: 125%;
		color: $hf-dark;
		text-decoration: none;
		text-transform: uppercase;
	}
}

#scoreboard {
	text-align: center;
	p {
		display: inline;
		color: $hf-light-blue;
		font-family: $label-font;
		font-size: 200%;
		span {
			color: $hf-white;
			padding: 0;
		}
	}
}

#final-selection {
	text-align: center;
	p {
		color: $hf-white;
		font-family: $label-font;
		font-size: 200%;
		margin-bottom: 0;
	}
	button {
		border-radius: 0;
		padding: 1% 3%;
		margin: 2%;
		box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
		background-color: $hf-dark;
		color: $hf-white;
		font-family: 'PT Sans', sans-serif;
	}
}

#crowd {
	img {
		width: 100%;
		height: 120px;
		position: absolute;
		bottom: 0;
	}
}

// Mobile Styles
@media (max-width: 768px) {
	#scoreboard {
		margin-top: 3%;
	}
	#crowd {
		img {
			height: 100px;
			position: relative;
		}
	}
	#youtube-player {
		margin-top: 3%;
		margin-bottom: 3%;
		width: 90%;
	}
	#zamboni {
		position: relative;
		right: auto;
		bottom: auto;
		img {
			height: 100px;
			width: 150px;
			margin-top: 2%;
			margin-left: 6%;
		}
	}
}