<div ng-app ng-controller="GametimeCtrl">
	<div class="row" id="scoreboard">
		<div class="col-xs-2 col-xs-offset-4 col-md-2 col-md-offset-4">
			<p>Wins<br><span ng-bind="youRight"></span></p>
		</div>
		<div class="col-xs-2 col-md-2">
			<p>Losses<br><span ng-bind="youWrong"></span></p>
		</div>
	</div>
	<div class="row">
		<div ng-bind-html="iframeCode"></div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3" id="final-selection" ng-show="canVote">
			<p class="lead">Who do you think won the fight?</p>
			<button class="btn btn-default btn-lg" type="submit" ng-click="saveUserAnswer(1)">{{ firstGuyName }}</button>
			<button class="btn btn-default btn-lg" type="submit" ng-click="saveUserAnswer(2)">{{ secondGuyName }}</button><br>
		</div>
	</div>
	<div class="row" id="zamboni" ng-hide="canVote">
		<img src="images/snoopy-zamboni.gif">
		<a href="#/">Next fight!<a/>
	</div>
	<div class="row" id="crowd">
		<img src="images/crowd-silhoutte.png">
	</div>
</div>