<div ng-app ng-controller="GametimeCtrl">
	<div class="row">
		<div ng-bind-html="iframeCode"></div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3" id="final-selection">
			<p class="lead">Who do you think won the fight?</p>
			<button class="btn btn-default btn-lg" type="submit" ng-click="saveUserAnswer(1)">{{ firstGuyName }}</button>
			<button class="btn btn-default btn-lg" type="submit" ng-click="saveUserAnswer(2)">{{ secondGuyName }}</button><br>
			<a href="#/">Check out another fight!<a/>
		</div>
	</div>
</div>