<div ng-app ng-controller="MainCtrl">
  <div class="row" id="matchup-title">
		<p class="text-center">Who would win in a bout between:</p>
	</div>
  <div class="row">
  	<div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-2 player-col">
  		<h3 class="text-center"><span class="label">{{ firstGuyName }}</span></h3>
  		<img class="img-responsive center-block" ng-src="{{ firstGuyImg }}" ng-click="saveUserGuess(1); playVideo()">
  	</div>
  	<div class="col-xs-12 col-sm-12 col-md-4 player-col">
  		<h3 class="text-center"><span class="label">{{ secondGuyName }}</span></h3>
  		<img class="img-responsive center-block" ng-src="{{ secondGuyImg }}" ng-click="saveUserGuess(2); playVideo()">
  	</div>
  </div>
</div>
